## @vtlvariable name="Utilities" type="gov.nasa.jpl.ammos.asec.kmc.format.Utilities" ##
## @vtlvariable name="saList" type="java.util.ArrayList<gov.nasa.jpl.ammos.asec.kmc.api.sa.SecAssn>" ##
{
#foreach($sa in $saList)
    {
        "spi": $!sa.getSpi(),
        "ekid": "$!sa.getEkid()",
        "akid": "$!sa.getAkid()",
        "sa_state": $!sa.getSaState(),
        "tfvn": $!sa.getTfvn(),
        "scid": $!sa.getScid(),
        "vcid": $!sa.getVcid(),
        "mapid": $!sa.getMapid(),
        "st": "$!sa.getServiceType()",
        "shivf_len": $!sa.getShivfLen(),
        "shsnf_len": $!sa.getShsnfLen(),
        "shplf_len": $!sa.getShplfLen(),
        "stmacf_len": $!sa.getStmacfLen(),
        "ecs_len": $!sa.getEcsLen(),
        "ecs": "$Utilities.getHex($!sa.getEcs())",
        "iv_len": $!sa.getIvLen(),
        "iv": "$Utilities.getHex($!sa.getIv())",
        "acs_len": $!sa.getAcsLen(),
        "acs": "$Utilities.getHex($!sa.getAcs())",
        "abm_len": $!sa.getAbmLen(),
        "abm": "$Utilities.getHex($!sa.getAbm())",
        "arsn_len": $!sa.getArsnLen(),
        "arsn": "$Utilities.getHex($!sa.getArsn())",
        "arsnw": $!sa.getArsnw(),
        "type": "$!sa.getType().name()"
    }
#end
}
