doctype html
html(lang='en')
  head
    title MMGIS / Reset Password
    link(rel='shortcut icon' href='public/images/logos/logo.png')
    link(type='text/css' rel='stylesheet' href='public/resetPassword.css')
    script(type='text/javascript' src='public/jquery.min.js')
    script(type='text/javascript' src='public/resetPassword.js')
  body.mmgisScrollbar
    .header
      img(src='public/images/logos/local_login_brand.png' alt='Branding' style='left: 44px; transform: unset; height: 60px; opacity: 0.5;')
    div#container
      img(src='public/images/logos/mmgis.png' alt='MMGIS')
      span#msgError.error
      div#msgSuccess.success
        div 🗸
        div#msgSuccessMsg 
        div.btn1(onCLick='goHome()' style='top: 60%;') Return Home
      form.box(name='form1' title='Reset your MMGIS password.')
        h4(style='color: #eab708;')
          | Reset
          span your password.
        h5 If you have forgotten your account credentials,<br>request a password reset from your administrator.
        label(for="username" style="position: absolute; color: #a1a4ad; top: 203px; left: 50%; transform: translateX(-50%); background: #1c1c1c; border-radius: 10px; font-size: 14px; width: 100px; text-align: center;") Username
        input#username(type='text' name='username' placeholder='Username' autocomplete='off')
        label(for="pwd" style="position: absolute; color: #a1a4ad; top: 270px; left: 50%; transform: translateX(-50%); background: #1c1c1c; border-radius: 10px; font-size: 14px; width: 132px; text-align: center;") New Password
        input#pwd(type='password' name='password' placeholder='Password' autocomplete='off')
        label(for="pwd_retype" style="position: absolute; color: #a1a4ad; top: 336px; left: 50%; transform: translateX(-50%); background: #1c1c1c; border-radius: 10px; font-size: 14px; width: 164px; text-align: center;") Retype New Password
        input#pwd_retype(type='password' name='password' placeholder='Retype Password' autocomplete='off')
        div.btn1(onClick='resetPassword()') Reset Password
    .footer(style='position: absolute; bottom: 0; padding: 44px; box-sizing: border-box; width: 100%; color: #adadad; font-size: 14px; display: flex; justify-content: flex-end; text-align: end;')
      
      div
        div Contact: #{CONTACT_INFO}
        div Clearance Number: #{CLEARANCE_NUMBER}
        div(style='display: flex;')
        a(href='http://www.jpl.nasa.gov/copyrights.cfm' style='margin-right: 10px;') PRIVACY
        a(href='http://www.jpl.nasa.gov/imagepolicy/') IMAGE POLICY
  footer
    script(id="_fed_an_ua_tag" type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=NASA&subagency=MMGIS&dclink=true&sp=search,s")