<?xml version = "1.0" encoding = "utf-8"?>
<!--
  ~ Copyright 2022, by the California Institute of Technology.
  ~ ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  ~ Any commercial use must be negotiated with the Office of Technology
  ~ Transfer at the California Institute of Technology.
  ~
  ~ This software may be subject to U.S. export control laws. By accepting
  ~ this software, the user agrees to comply with all applicable U.S.
  ~ export laws and regulations. User has the responsibility to obtain
  ~ export licenses, or other export authority as may be required before
  ~ exporting such information to foreign countries or providing access to
  ~ foreign persons.
  -->

<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:h2:mem:test;MODE=mysql;INIT=RUNSCRIPT FROM 'classpath:create_sadb.sql'\;
        </property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <!-- Hibernate properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.connection.provider_class">
            org.hibernate.hikaricp.internal.HikariCPConnectionProvider
        </property>
        <!--        &lt;!&ndash; Names the annotated entity class &ndash;&gt;-->
        <mapping class="gov.nasa.jpl.ammos.asec.kmc.api.sa.SecAssn"/>
    </session-factory>
</hibernate-configuration>